[Unit]
Description=Check completed recordings for activity
[Timer]
OnBootSec=2min
OnUnitInactiveSec=1min
AccuracySec=5s
[Install]
WantedBy=timers.target
